/* creating the animation  using keyframes. we are only changing width, so I do not change top at all */
@keyframes logo_anim {
    0%   {top: 0px; width: 25px;}
    100% {top: 0px; width: 475px;}
}

/* using previous keyframes object for logo animation property */
#logo {
	animation: logo_anim 5s; 
}

/* url - must navigate into the directory holding the current directory, then navigate into images */
body {
	font-family: "Poppins", serif;
	background-image: url('../images/concrete_seamless.png');
	background-color: #f1f1f1;
}

/* flex direction column so that the logo appears above nav items. centered items.  */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* using flex on nav_links, and setting flex-direction to column so they appear vertically */
.nav_links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/* did not need to do anything genius for this. a quick google search, and testing, and we can just set the link color to be blue all the time, despite whether it has been clicked or not.

Side note - hope I dont lose points for making it this simple. however, the homework was not specific, and the resulting effect is what was asked of us! */
.nav_links a {
	color: blue;
}


/* set header properties by following HW5 directly. chose selector by looking at the structure of the HTML, and used the child selector since the headers we need to modify are direct children (not distant descendants) of anywhere .card appears.   */
.card > header {
	background: #288088;
	border: solid 2px #45ADAD;
	padding: 20px 0px 20px 0px;
	border-radius: 50px 50px 0px 0px;
}


/* added border radius to BOTH .header, THEN .card class. This curves the border of the outer div container that header is in, so we avoid the rectangular whitespace that shows if we just change the radius of the header */
.card {
	flex-basis: 450px;
	border-radius: 50px 50px 0px 0px;
}

/* tried using flex-direction = column first (it ), but could not get the desired effect! Row along with wrap gave me the desired effect. then centered content/items.  */
.pricing {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
}

/* styling all images that are a descendant of gallery class */
.gallery img {
	border: solid 10px #50C7C7;
	margin: 10px;
	width: 300px;
}

/* styling gallery class. just like with .pricing, I was able to recreate the screenshot by using flex direction row and wrapping the content */
.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}


/* rules for screens 900px and above */
@media screen and (min-width: 900px) {

	/* flex direction row to have logo and nav links be adjacent. use space between to have the logo on left and nav links on right */
	header {
	flex-direction: row;
	justify-content: space-between;
	}

	/* unlike earlier, we want our links to be SIDE BY SIDE. so we use flex direction row, ELSE it would just use the earlier specified style of flex direction column */
	.nav_links {
	flex-direction: row;
	}


	/* just using nowrap seems to place the card items side by side, instead of up and down. nothing else I found I need to change to replicate the effect when the size of the window is changed */
	.pricing {
	flex-wrap: nowrap;
	}

	/* setting initial size (just following instructions) */
	.card {
	flex-basis: 275px;
	}
	
	/* sticky by itself didn't work. so instead I looked at some examples online using top property. since we want the header to be stuck to the top with no gap, I used top: 0px. just "position: sticky;" by itself did NOT achieve the desired effect! */
	body > header {
	position: sticky;
	top: 0px;
	}
}

/* this was the easiest way I found to prevent the animation if reduced motion was preferred. Basically, a duration of 0 seconds means the animation doesn't even execute. Nothing is moving! So we just see the regular header. Not sure if this was supposed to be done another way, but this achieved the desired effect perfectly! */
@media (prefers-reduced-motion) {
	#logo {
		animation: logo_anim 0s;
	}
}

/* print portrait mode. did NOT specify orientation, due to a piazza reply noting that it just made things more complicated.  */
@media print {

	/* just following instructions */
	body {
		font-family: Arial, Helvetica;
		background-image: none;
	}


	/* need to specify direction again, or else the preview appears to be wonky! */
	.nav_links {
		flex-direction: row;
	}

	/* basically, any li in the nav that is preceded by another li is given a margin of 170px. 170 px was arbitrary, just set a value that made it look like the example. 

	SIDE NOTE: there was no hint on how to implement this one, or nudge in the right direction, so I expect no points will be taken off for deciding to solve it this was to achieve the desired effect.  */
	nav li + li {
		margin-left: 170px;
	}

	/* specifying nowrap again (if not, I get a wonky result). then, using align-items flex-end to bottom align all the cards */
	.pricing {
		flex-wrap: nowrap;
		align-items: flex-end;
	}

	/* okay, so the gallery is not visible after this line of code. But I'm really not sure how to deal with all this space between the cards and the footer. I tried Display: None, Visibility:Hidden - nothing came close to the example photo. So just using collapse property and hope you guys aren't too strict on grading the whitespace here.  */
	.gallery, #gallery {
		visibility: collapse;
	}

	/* followed instructions exactly */
	.card {
		border: solid 2px #45ADDD;
		flex-basis: 325px;
	}

	/* combined selectors (every even list number in a ul in main), and used codepoint of thumbs up emoji to append the emjoji after the html content. Replaced the U+ in the codepoint value with a \0, per instructions online. I was very suprised when this actually worked! cool stuff.  */
	main ul li:nth-child(even)::after {
		content: "\01F44D";
	}
}


